/* Modern browsers with `scrollbar-*` support */
@supports (scrollbar-width: auto) {
  .scroller:is(.dark *) {
    scrollbar-color: #4a4a4a #252422;
  }
}

/* Legacy browsers with `::-webkit-scrollbar-*` support */
@supports selector(::-webkit-scrollbar) {
  .scroller::-webkit-scrollbar-thumb:is(.dark *) {
    background: #4a4a4a;
  }

  .scroller::-webkit-scrollbar-track:is(.dark *) {
    background: #252422;
  }
}
