/* CodeMirror Base */
@import 'codemirror/lib/codemirror.css';
@import 'codemirror/addon/lint/lint.css';
@import 'codemirror/addon/display/fullscreen.css';

.CodeMirror pre.CodeMirror-placeholder {
  color: #a3a3a3; /* neutral-400 */
}


/* CodeMirror Dark Theme */
.cm-s-dark.CodeMirror { background: #121217; color: #f8f8f2; }
.cm-s-dark div.CodeMirror-selected { background: #252422; }
.cm-s-dark .CodeMirror-line::selection,
.cm-s-dark .CodeMirror-line > span::selection,
.cm-s-dark .CodeMirror-line > span > span::selection { background: rgb(73 72 62 / 99%); }
.cm-s-dark .CodeMirror-line::-moz-selection,
.cm-s-dark .CodeMirror-line > span::-moz-selection,
.cm-s-dark .CodeMirror-line > span > span::-moz-selection { background: rgb(73 72 62 / 99%); }
.cm-s-dark .CodeMirror-gutters { background: #252422; border-right: 1px solid #aaa; }
.cm-s-dark .CodeMirror-guttermarker { color: white; }
.cm-s-dark .CodeMirror-guttermarker-subtle { color: #d0d0d0; }
.cm-s-dark .CodeMirror-linenumber { color: #d0d0d0; }
.cm-s-dark .CodeMirror-cursor { border-left: 1px solid #f8f8f0; }

.cm-s-dark span.cm-comment { color: #6a9955; }
.cm-s-dark span.cm-atom { color: #f92672; }
.cm-s-dark span.cm-number { color: #f92672; }

.cm-s-dark span.cm-comment.cm-attribute { color: #97b757; }
.cm-s-dark span.cm-comment.cm-def { color: #bc9262; }
.cm-s-dark span.cm-comment.cm-tag { color: #bc6283; }
.cm-s-dark span.cm-comment.cm-type { color: #5998a6; }

.cm-s-dark span.cm-property,
.cm-s-dark span.cm-attribute { color: #a6e22e; }
.cm-s-dark span.cm-keyword { color: #f92672; }
.cm-s-dark span.cm-builtin { color: #66d9ef; }
.cm-s-dark span.cm-string { color: #e6db74; }

.cm-s-dark span.cm-variable { color: #f8f8f2; }
.cm-s-dark span.cm-variable-2 { color: #9effff; }
.cm-s-dark span.cm-variable-3,
.cm-s-dark span.cm-type { color: #66d9ef; }
.cm-s-dark span.cm-def { color: #fd971f; }
.cm-s-dark span.cm-bracket { color: #f8f8f2; }
.cm-s-dark span.cm-tag { color: #f92672; }
.cm-s-dark span.cm-header { color: #ae81ff; }
.cm-s-dark span.cm-link { color: #ae81ff; }
.cm-s-dark span.cm-error { background: #f92672; color: #f8f8f0; }

.cm-s-dark .CodeMirror-activeline-background { outline: 1px solid #4e4e4e; background: #252422; }
.cm-s-dark .CodeMirror-matchingbracket { color: #a6e22e !important; }

/* CodeMirror Light Theme */
.cm-s-light span.cm-comment { color: #1a5bff; }
.cm-s-light span.cm-atom { color: #f92672; }
.cm-s-light span.cm-number { color: #f92672; }

.cm-s-light span.cm-comment.cm-attribute { color: #97b757; }
.cm-s-light span.cm-comment.cm-def { color: #bc9262; }
.cm-s-light span.cm-comment.cm-tag { color: #bc6283; }
.cm-s-light span.cm-comment.cm-type { color: #5998a6; }

.cm-s-light span.cm-property,
.cm-s-light span.cm-attribute { color: #a6e22e; }
.cm-s-light span.cm-keyword { color: #f92672; }
.cm-s-light span.cm-builtin { color: #66d9ef; }
.cm-s-light span.cm-string { color: #1a5bff; }

.cm-s-light span.cm-variable { color: #f8f8f2; }
.cm-s-light span.cm-variable-2 { color: #9effff; }
.cm-s-light span.cm-variable-3,
.cm-s-light span.cm-type { color: #66d9ef; }
.cm-s-light span.cm-def { color: #fd971f; }
.cm-s-light span.cm-bracket { color: #f8f8f2; }
.cm-s-light span.cm-tag { color: #f92672; }
.cm-s-light span.cm-header { color: #ae81ff; }
.cm-s-light span.cm-link { color: #ae81ff; }
.cm-s-light span.cm-error { background: #f92672; color: #f8f8f0; }

.cm-s-light .CodeMirror-activeline-background { background: #e8f2ff; }
.cm-s-light .CodeMirror-matchingbracket { outline: 1px solid #afafaf; color: #ff005d !important; }

.cm-s-light.CodeMirror { background: #fcfcf8 }
