name: build-deploy
on:
  push:
    tags:
      - v[0-9]*
      - build
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      # Wasm build
      - uses: actions/checkout@v3
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.25.3
      - name: Unshallow
        run: git fetch --prune --unshallow
      - name: build wasm
        run: |
          make build-wasm
      # Frontend
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22
      - uses: pnpm/action-setup@v2
        name: Install pnpm
        id: pnpm-install
        with:
          version: 10
          run_install: false
      - name: Build frontend
        run: |
          make build-front
      # publish page
      - uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_web/build
          cname: repeatit.io
      - name: Check if release tag
        run: |
          if [[ ! "${{ github.ref }}" =~ ^refs/tags/v[0-9] ]]; then
            echo "Tag does not start with v[0-9]*, skipping release steps"
            exit 0
          fi
      - name: Disable analytics for release
        run: |
          make values-extra build-front copy-output
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Create release
        uses: goreleaser/goreleaser-action@v3
        with:
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
